@{
    ViewData["Title"] = "Thông báo kết quả xóa";
}
@{

    <p>@ViewData["thongbao"]</p>
    <div class="col">
        <a asp-area="" asp-controller="Sach" asp-action="Index"><i class="btn btn-warning btn-sm">Trở lại</i></a>
    </div>
}