@{
    ViewData["Title"] = "Update Danh Mục";
}
@model DanhMuc
@{
    <h2>UPDATE DANH MỤC</h2>
    <form action="/DanhMuc/UpdateDM" method="post">
        <div class="form-group">
            <div class="col-md-8">
                <label>Mã danh mục</label>
                <input type="text" class="form-control" name="MADM" value="@Model.MADM" readonly />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-8">
                <label>Tên danh mục</label>
                <input type="text" class="form-control" name="TENDM" value="@Model.TENDM"/>
            </div>
        </div>
        <div class="row mb-6">
            <div class="col d-flex justify-content-center">
                <!-- Checkbox -->
                <div class="form-group">
                    <div class="col-md-6">
                        <input class="btn btn-success btn-sm" type="submit" name="submit" value="Update" />
                    </div>
                </div>
            </div>

            <div class="col">
                <a asp-area="" asp-controller="DanhMuc" asp-action="Index"><i class="btn btn-warning btn-sm">Trở lại</i></a>
            </div>
        </div>
    </form>
}
